:root {
  --gray: #848d97;
  --bg: #010a0f;
  --card: #00141e;
  --border-color: #001e28;
  --border-radius-sm: 0.1875rem;
  --border-radius-md: 0.375rem;
  --border-width: max(1px, 0.0625rem);
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #c3c2c2;
}
body {
  background: var(--border-color);
}
.maincontent {
  transition: all 5;
  -webkit-transition: all 5;
  -moz-transition: all 5;
  -ms-transition: all 5;
  -o-transition: all 5;
  overflow: auto;
}

/* -------------------------------Header & nav css-------------------------------------- */
.header {
  position: fixed;
  background: var(--card);
  padding: 1.5% 10%;
  width: 100%;
  border-bottom: 4px solid var(--gray);
  z-index: 999;
}
.header h1 {
  font-size: 42px;
  font-weight: 900;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0.1% 0; */
  /* overflow-x: auto; */
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}
.nav .navtab {
  padding: 2% 3%;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  border-bottom: 0px solid var(--card);
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
/* .nav .navtab.active {
  background: var(--border-color);
} */
.nav .navtab:hover {
  /* border-bottom: 2.5px solid var(--card); */
  /* border-width: 100%; */
  background: var(--card);
}
.nav .navtab span {
  font-size: 12px;
}

/* ---------------------------------Heading css---------------------------------- */
.heading {
  padding: 5% 0 3%;
}
.h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}
.h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26.25px;
}
.h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26.25px;
}
.h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

/* -----------------------general css--------------------------------- */
.padding {
  padding: 0 5%;
}
.container {
  width: 100%;
  /* padding: 8%; */
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.card {
  background: var(--card);
  width: 100%;
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
  padding: 2.5%;
}
.card img {
  width: 180px;
}
.date {
  font-size: 12px;
  font-style: italic;
}
.pt {
  padding-top: 10%;
}
.mb {
  margin-bottom: 2%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.gap {
  gap: 40px;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.text-justify {
  text-align: justify;
}
.inline-flex {
  display: inline-flex;
}
button,
.cv {
  padding: 4% 0%;
  background: var(--card);
  color: #fff;
  border: 2px solid var(--border-color);
  outline: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
  cursor: pointer;
}
.socialIcons {
  margin-top: 2%;
  color: var(--border-color);
}
.socialIcons a {
  color: var(--border-color) !important;
}
.socialIcons .fa {
  padding-right: 10px;
  font-size: 30px;
}

/* --------------------------------footer css-------------------------------------- */
.footer {
  color: gray;
  border-top: 0.0625rem solid var(--border-color);
  padding: 1rem 3rem;
  margin-top: 6rem;
}
.footer .fa {
  font-size: 20px;
  margin-bottom: -5px;
}
/* -------------------------------------media query css--------------------------------------- */
@media screen and (max-width: 768px) {
  /* .header {
  } */
  .header h1 {
    font-size: 22px;
    font-weight: 900;
  }
  .header h2 {
    font-size: 12px;
    font-weight: 700;
  }
  .nav {
    font-size: 8px;
    justify-content: center;
    gap: 10px;
    border-bottom: 0.5px solid var(--border-color);

  }
  .nav .navtab {
    padding: 4% 0.5%;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav .navtab:hover {
    border-bottom: 1.5px solid var(--card);
    border-width: 100%;
  }
  .nav .navtab span {
    font-size: 10px;
  }
  .container {
    width: 100%;
    padding: 8% 0%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
  }
  .heading {
    padding: 8% 0 6%;
  }
  .card {
    padding: 5%;
  }
  .card.flex {
    flex-direction: column;
  }
  .desc {
    margin-top: 5%;
  }
  .mb {
    margin-bottom: 4%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
  }
  .h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26.25px;
  }
  .h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  button, .cv {
    padding: 4%;
  }
  .padding {
    padding: 0 5%;
  }
}
